*~
*.job
*.out
*.Rhistory
*.DS_Store
input2d-files/input2d*
vertex-files/hairs*.vertex
vertex-files/hair*.mat
vertex-files/hair*.csv
vertex-files/line*.txt
hairs*.vertex
analysis_code/*.txt
analysis_code/visit*
.Rproj.user
src/matlab/matlab-tytell/.hg/*
*visitlog*.py